@import '../../sass/widgetsThemeDefault/widgetsThemeDefault';

/*
Variables set to another variable are pulling from the theme level _variables.scss 
This is to make it easier for you to customize them or remove dependancy on the theme 
variables altogether.
*/
$bar-color-active: $color-theme-secondary;
$bar-color-active-hover: $color-theme-secondary-tint;
$bar-color-default: $color-theme-main;
$bar-color-default-hover: $color-theme-main-tint;
$hamburger-horizontal-position: 15px;
$hamburger-vertical-position: 16px;

.menu-hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 29px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: $hamburger-vertical-position;
    transition: all .2s ease-out;
    width: 36px;
    
    // position based on menu prop class
    .-left & {
        left: $hamburger-horizontal-position
    }

    .-right & {
        right: $hamburger-horizontal-position
    }

    &:focus {
        border: none;
        outline: none;
    }

    &_bar {
        background: $bar-color-default;
        display: block;
        height: 5px;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        
        &.-bar-1 {
            left: 0;
            top: 0;
        }

        &.-bar-2 {
            left: 0;
            opacity: 1;
            top: 12px;
        }

        &.-bar-3 {
            bottom: 0;
            left: 0;
        }
    }

    &:hover {
        .menu-hamburger_bar {
            background: $bar-color-default-hover;
        }
    }

    &.-open {
        transform: rotate(180deg);
        
        .menu-hamburger_bar {
            background: $bar-color-active;
            &.-bar-1 {
                top: 12px;
                transform: rotate(-45deg);
            }
    
            &.-bar-2 {
                opacity: 0;
            }
    
            &.-bar-3 {
                bottom: 12px;
                transform: rotate(45deg);
            }
        }

        &:hover {
            .menu-hamburger_bar {
                background: $bar-color-active-hover;
            }
        }
    }
}

@include extra-large-screen-up {
    .menu-hamburger {
        display: none;
    }
}