@import '../../sass/widgetsThemeDefault/widgetsThemeDefault';

// variables set to another variable are pulling from the theme level _variables.scss 
$mobile-menu-height: $mobile-header-height;
$desktop-menu-height: $desktop-header-height;
$mobile-menu-width: 320px;

.menu {
    width: $mobile-menu-width;
    height: calc(100vh - #{$mobile-menu-height});
    position: fixed;
    top: $mobile-menu-height;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    font-family: $font-family-theme;
    transition: left 0.2s ease-out, right 0.2s ease-out;

    &.-left {
        left: calc((#{$mobile-menu-width} + 15px) * -1);

        &.-open {
            left: 0;
        }
    }

    &.-right {
        right: calc((#{$mobile-menu-width} + 15px) * -1);

        &.-open {
            right: 0;
        }
    }

    &_level-one {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@include extra-large-screen-up {
    .menu {
        position: static;
        height: $desktop-menu-height;
        width: 100%;
        box-shadow: none;

        &_level-one {
            display: flex;
            height: 100%;
            overflow: visible;
            justify-content: center;
            align-items: center;
        }
    }
}