@import './mixins';
// @import 'variables';
// @import 'breakpoints';

/*
 * @description: hides an element visually while leaving it exposed for screen readers
 *      - NOTE: using !important here since these styles should never be overridden
 *      - Used in:
 *          - MenuHamburger.js
 */
.screen-reader-only {
    background-color:#fff !important;
    border: 0 !important;
    clip: rect(0,0,0,0) !important;
    color:#000 !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/*
 * @description: creates a triangular downward facing arrow
 *      - Used in:
 *          - MenuItem.js
 *          - MenuItem.scss
 */
.arrow-down {
    border-color: $color-theme-main transparent transparent transparent;
    border-style: solid;
    border-width: 8px;
    display: block;
    height: 0;
    width: 0;
    
    &.-small {
        border-width: 4px; 
    }
}

/*
 * @description: standard clearfix class to fix float issues
 *      - Used in:
 *          - GlobalHeader.js
 */
.clearfix {
    *zoom: 1;
    &::after, &::before {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}

// .hidden {
//     display: none !important;
// }

.btn {
    margin: 0 15px 15px 0;
    
    &.-primary {
        @include button-primary;
        &:hover {
            @include button-primary-hover;
        }
    }

    // &.-action {
    //     width: 40px;
    //     height: 40px;
    //     background-repeat: no-repeat;
    //     background-position: 50%;

    //     &.-edit {
    //         background-image: url('/images/icon_pencil.png');
    //     }

    //     &.-delete {
    //         background-image: url('/images/icon_trashcan.png');
    //     }
    // }
}

// .-msg {
//     display: block;
//     margin-bottom: 5px;

//     &.-error {
//         color: red;
//     }
// }
